img{
    max-width:15%;
    max-height:15%;
    display: inline;
    position:relative;
    background-size:cover;

}
title{
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1{
    font-size:32px;
    color:#000000;
    font-family:Tahoma, Geneva, sans-serif;
}
P1{
font-size:20px;
    }
video{
    float:right;
    }
    .video{
    margin:0 auto;
   
        
    }