img{
    max-width:15%;
    max-height:15%;
    display: inline;
    position:relative;
    background-size:cover;

}
title{
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1{
    font-size:32px;
    color:#000000;
    font-family:Tahoma, Geneva, sans-serif;
}
h2{
    font-size:26px;
    color:#0C0908  ;
    font-family:Tahoma, Geneva, sans-serif;
}
P1{
font-size:14px;
    }
p2{
    font-size:13px;
}
h3{
    
}
 .video{
    margin:0 ;
   }
 .video-text{
     padding-bottom:10;
 }